{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block page_title %}
        Login | Perpustakaan Digital SMK Walisongo
      {% endblock page_title %}
    </title>
  </head>
  <body>
    {% block contents %}
      <div class="container" style="margin-top:165px; padding-bottom:20px">
        <div class="row justify-content-center">
          <div class="col-7">
            <div class="card">
              <img src="{% static "assets/img/smk.png" %}" alt="" class="rounded mx-auto d-block">
              <h3 class="text-center">Login ke Perpustakaan</h3>
              <div class="card-body">
                <form method="POST">
                  {% csrf_token %}
                  {{form |crispy}}
                  <button type="submit" class="btn btn-primary">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock contents %}
  </body>
</html>
