<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
    <a href="/" class="navbar-brand">Perpustakaan SMK Walisongo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="{% url "buku:list" %}" class="nav-link">Daftar Buku</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'buku:list-siswa' %}" class="nav-link">Daftar Siswa</a>
        </li>

        {% if user.is_superuser %}
        {# untuk menambah daftar anggota/siswa yang mau pinjam buku #}
          <li class="nav-item">
            <a href="{% url 'buku:tambah-siswa' %}" class="nav-link">Tambah Siswa</a>
          </li>

          {# untuk menambah buku #}
          <li class="nav-item">
            <a href="{% url 'buku:tambah-buku' %}" class="nav-link">Tambah Buku</a>
          </li>

          {# menampilkan pinjam buku #}
          <li class="nav-item">
            <a href="{% url 'buku:pinjam-buku' %}" class="nav-link">Pinjam Buku</a>
          </li>

          <li class="nav-item">
            <a href="{% url 'buku:list-pinjam' %}" class="nav-link">Daftar Peminjam</a>
          </li>
        {% endif %}

        {% if user.is_authenticated %}
          <div class="dropdown float">
            <a href="" class="dropdown-toggle text-white" data-toggle="dropdown">Halo, {{request.user}}</a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Reset Password</a> {# Reset Password #}
              <a href="{% url "admin:index" %}" class="dropdown-item">Panel Admin</a>
              <a href="{% url 'logout' %}" class="dropdown-item">Logout</a> {# Logout #}
            </div>
          </div>
          {% else %}
            <li class="nav-item">
              <a href="{% url "login" %}" class="nav-link">Login</a>
            </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
