{% load  static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "vendor/bootsrap/css/bootstrap.min.css" %}">

    <title>
      {% block page_title %}

      {% endblock page_title %}
    </title>
  </head>
  <body>
    {% include "partials/navbar.html" %}
    {% block contents %}

    {% endblock contents %}

    
    <!-- Optional JavaScript -->
    <script src="{% static "vendor/jquery/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "vendor/popper/popper.min.js" %}"></script>
    <script src="{% static "vendor/bootsrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>
