{% extends "base.html" %}
{% load static %}

{% block page_title %}
{{title}}
{% endblock page_title %}

{% block contents %}
{# awal bagian style #}
  <style media="screen">
  /* import font */
    @import url('static/assets/Quicksand-VariableFont_wght.ttf');
    @import url('static/assets/fonts/RobotoSlab-VariableFont_wght.ttf');

    h1 {
      font-family: 'Roboto Slab';
    }

    .jumbotron {
      background-image: url(static/assets/img/background.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%
    }

    .navbar {
      margin-bottom: 0px;
    }

    p {
      font-family: 'Quicksand';
    }
  </style>
      <div class="jumbotron jumbotron-fluid">
        <img src="static/assets/img/smk.png" alt="{{judul}}" class="rounded mx-auto d-block">
        <h1 class="display-4 text-white">Perpustakaan Digital SMK Walisongo Pecangaan</h1>
        <p class="lead text-white text-center">{{title}}</p>
      </div>

      <div class="card">
        <div class="card-header">Note:</div>
        <div class="card-body">
          <h5 class="card-title">Attention</h5>
          <p class="card-text">Tambah Bahasa dan Genre Buku Dahulu Sebelum Menambah Buku</p>
          <a href="{% url 'buku:tambah-bahasa-buku' %}" class="btn btn-outline-primary btn-lg">Tambah Bahasa Buku</a>
          <a href="{% url 'buku:tambah-genre' %}" class="btn btn-outline-success btn-lg">Tambah Genre Buku</a>
        </div>
      </div>
{% endblock contents %}
