{# template untuk menampilkan buku yang ada di perpus #}
{% extends "base.html" %}

{% block page_title %}
  {{title}}
{% endblock page_title %}

{% block contents %}
{% if buku_list %}

<style media="screen">
/* bagian CSS */
  .container {
    margin-top: 80px;
  }

  .card {
    width: 24rem;
  }

  .card-img-top {
    max-height:300px;width: 100%;
    object-fit:cover;
    object-position:center
  }
</style>
  <div class="container">
    <div class="row">
      {% for buku in object_list %}
        <div class="col-sm-6">
          <div class="card">
            <img src="{{buku.get_gambar_url|default_if_none:'#'}}" alt="buku.slug" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{buku.judul}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Penyusun: {{buku.author}}</h6>
              <p class="card-text">{{buku.summary|truncatewords:10}}</p>
              <a href="{% url 'buku:detail-buku' buku.slug %}" class="btn btn-primary">Lihat Buku</a>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
  {% else %}
  <h1 class=" display-4 text-center" style="margin-top:300px;">Daftar Buku Kosong</h1>
  {% endif %}
{% endblock contents %}
