{% extends "base.html" %}

{% block page_title %}
  Lihat: {{buku.judul}}
{% endblock page_title %}


{% block contents %}
<div class="container" style="margin-top:80px;">
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        {% if buku.get_gambar_url %}
        <img src="{{buku.get_gambar_url|default_if_none:'#'}}" alt="{{buku.slug}}" class="card-img">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-text">Judul: {{buku.judul}}</h4>
          <h4 class="card-text">Penyusun: {{buku.author}}</h4>
          <h4 class="card-text">Bahasa Buku: {{buku.bahasa}}</h4>
          <h4 class="card-text">ISBN: {{buku.isbn}}</h4>
            {% for genre in buku.genre.all %}
              <h4 class="card-text">Genre Buku: {{genre}}</h4>
              {% if not forloop.last %}

              {% endif %}

            {% endfor %}

          <h4 class="card-text">Deskripsi Buku: {{buku.deskripsi}}</h4>
          <h4 class="card-text">Buku Yang Tersedia: {{buku.available_copies}}</h4>
          <h4 class="card-text">Jumlah Total Buku: {{buku.total_copies}}</h4>

          {% if user.is_superuser %}
              <a href="{% url 'buku:delete-buku' buku.pk %}" class="btn btn-danger">Hapus Buku</a>
              <a href="{% url 'buku:update-buku' buku.pk %}" class="btn btn-success">Update Buku</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contents %}
