{% extends "base.html" %}

{% block page_title %}
  {{judul}}
{% endblock page_title %}

{% block contents %}
  <div class="container" style="margin-top:80px;">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nama Siswa</th>
          <th scope="col">Buku Yang Dipinjam</th>
          <th scope="col">Awal Pinjam</th>
          <th scope="col">Tanggal Kembali</th>
          {% if user.is_superuser %}
          <th scope="col">Opsi</th>
          <th scope="col"></th>
          {% endif %}

        </tr>
      </thead>
      <tbody>
        {% for pinjam in pinjam_buku_list %}
          <td>{{forloop.counter}}</td>
          <td>{{pinjam.siswa.nama}}</td>
          <td>{{pinjam.buku.judul}}</td>
          <td>{{pinjam.awal_pinjam}}</td>
          <td>{{pinjam.tgl_kembali}}</td>

          {% if user.is_superuser %}
            <td><a href="{% url 'buku:pinjam-update' pinjam.pk %}" class="btn btn-success">Ubah Data</a></td>
            <td><a href="{% url 'buku:pinjam-delete' pinjam.pk %}" class="btn btn-danger">Hapus Data</a></td>
          {% endif %}
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock contents %}
