{% extends "base.html" %}

{% block page_title %}
{{title}}
{% endblock page_title %}

{% block contents %}
  <div class="container" style="margin-top:80px;">
    <table class="table table-striped mt-3">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">NISN</th>
          <th scope="col">Nama</th>
          <th scope="col">Kelas</th>
          <th scope="col">Jurusan</th>
          <th scope="col">No Telp</th>
          <th scope="col">Total Buku</th>
          <th scope="col">E-mail</th>
          <th scope="col">Info Lengkap</th>
        </tr>
      </thead>
      <tbody>
        {% for siswa in siswa_list %}
          <td>{{forloop.counter}}</td>
          <td>{{siswa.nisn}}</td>
          <td>{{siswa.nama}}</td>
          <td>{{siswa.kelas}}</td>
          <td>{{siswa.jurusan}}</td>
          <td>{{siswa.nomor_telp}}</td>
          <td>{{siswa.total_buku}}</td>
          <td>{{siswa.email}}</td>
          <td><a href="{% url 'buku:detail-siswa' siswa.pk %}" class="btn btn-primary">Detail Siswa</a></td>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock contents %}
