{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
  {{judul}}
{% endblock page_title %}

{% block contents %}
<div class="container" style="margin-top:80px;">
  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <button class="btn btn-primary">Pinjam Buku</button>
  </form>
</div>
{% endblock contents %}
