{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hapus Data Peminjaman</title>
    <link rel="stylesheet" href="{% static "vendor/bootsrap/css/bootstrap.min.css" %}">
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="card">
          <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="card-body">
              <p class="card-title">Hapus Data {{object}}</p>
              <input class="btn btn-danger" type="submit" value="Ya">
              <a href="{% url 'buku:list' %}" class="btn btn-success">Tidak</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="{% static "vendor/jquery/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "vendor/popper/popper.min.js" %}"></script>
    <script src="{% static "vendor/bootsrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>
