{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Lihat: {{siswa.nama}}</title>
    <link rel="stylesheet" href="{% static "vendor/bootsrap/css/bootstrap.min.css" %}">
  </head>
  <body>
    <div class="container" style="margin-top:30px;">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{siswa.foto.url}}" alt="{{siswa.nama}}" class="card-img-top">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">Kartu Anggota Perpustakaan SMK Walisongo</h4>
              <p class="card-text">Nama: {{siswa.nama}}</p>
              <p class="card-text">Kelas: {{siswa.kelas}}</p>
              <p class="card-text">Jurusan: {{siswa.jurusan}}</p>
              <p class="card-text">Kontak: {{siswa.nomor_telp}}</p>
              <p class="card-text text-muted">Buku yang Dipinjam: {{siswa.total_buku}}</p>
              {% if user.is_superuser %}
                  <a href="{% url 'buku:update-siswa' siswa.pk %}" class="btn btn-success">Ubah Profile</a>
                  <a href="{% url 'buku:delete-siswa' siswa.pk %}" class="btn btn-danger">Hapus Profile</a>
                  <br><br>
              {% endif %}
              <div class="card-footer">
                <small class="text-muted">Kartu Perpus <a href="https://smkw9jepara.sch.id">SMK Walisongo Pecangaan</a></small>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <script src="{% static "vendor/jquery/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "vendor/popper/popper.min.js" %}"></script>
    <script src="{% static "vendor/bootsrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>
