{# template sementara #}
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
  {{judul}}
{% endblock page_title %}

{% block contents %}
  <div class="container" style="margin-top: 75px;">
    <div class="row">
      <div class="form-group">
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{form |crispy}}
          <button type="submit" class="btn btn-primary">{{judul}}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock contents %}
